<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="loginbody">
    <center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 style="color: rgb(228, 209, 219);">login</h1>
    <br>
    <form method="POST">
        <label class="username">user name :</label>
        <br>
        <input class="usernameinput" name="username" type="text">
        <br>
        <br>
        <label class="userpassword">Password</label>
        <br>
        <input class="userpasswordinput" name="password" type="text">

        <br>
        <br>
        <br>
        <button class="submitButton">submit</button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <br>
     </center>
    </div>
</body>
</html>